body {
    padding-top: 50px;
    padding-bottom: 20px;
	background-color: #f6f6f6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1, h2,h3,h4,h5,h6
{
	font-family: "Unica One", "Myriad Pro", Arial, sans-serif;
}

.box
{
	border: 1px solid #e6e6e6;
    box-shadow: 0 2px 2px #AAA;	
	padding: 10px;
	margin: 20px 0;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

/* Meal */
#meal
{
	max-width: 800px;
	width: 100%;
}

#meal .box > section
{
	margin: 20px;
}

.line
{	
	border-width: 1px;
	border-style: solid;
	margin: 0;
	padding: 0;
}

.silver
{
	border-color: #e6e6e6;
}