@{
    ViewBag.Title = "Domov";
}

<div class="jumbotron box">
    <h1>Tedenski planer</h1>
    <p class="lead">Tedenski planer je spletna aplikacija za načrtovanje tedenske prehrane, nakupov in ostalih opravil.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Predstavitev &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Tedenska prehrana</h2>
            <p>
                Sestavi si načrt tedenske prehrane
            </p>
            <p><a class="btn btn-default" href="#">Več &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Nakupovanje</h2>
            <p>Beleži si pregled svojih nakupov tudi s pomočjo tedenske prehrane. </p>
            <p><a class="btn btn-default" href="#">Več &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Opravila</h2>
            <p>
                Zabeleži si opravila, da se boš kasneje spomnil kaj moraš nujno narediti.
            </p>
            <p><a class="btn btn-default" href="#">Več &raquo;</a></p>
        </div>
    </div>
</div>