@model WeeklyPlaner.ViewModels.MealAssignedCourseData

<div class="col-md-6">
    @Html.HiddenFor(model => model.CourseID)
    @Html.CheckBoxFor(model => model.Assigned)
    @Html.DisplayFor(model => model.Title)
</div>