@model WeeklyPlaner.ViewModels.MealAssignedCourseData

<div class="col-md-4">
    @Html.HiddenFor(model => model.CourseID)
    @Html.CheckBoxFor(model => model.Assigned, new { @class = "course" })
    @Html.DisplayFor(model => model.Title)
</div>